**
!.dockerignore
!.gitattributes
!.gitignore
!Dockerfile
!LICENSE
!README.md
!app/__init__.py
!app/agent/__init__.py
!app/agent/base.py
!app/agent/browser.py
!app/agent/data_analysis.py
!app/agent/manus.py
!app/agent/mcp.py
!app/agent/react.py
!app/agent/sandbox_agent.py
!app/agent/swe.py
!app/agent/toolcall.py
!app/bedrock.py
!app/cockpit/__init__.py
!app/cockpit/build.py
!app/cockpit/intake.py
!app/cockpit/render.py
!app/cockpit/session.py
!app/cockpit/static/cockpit.css
!app/cockpit/static/verifier.js
!app/cockpit/store.py
!app/cockpit/web.py
!app/config.py
!app/daytona/sandbox.py
!app/daytona/tool_base.py
!app/exceptions.py
!app/flow/__init__.py
!app/flow/base.py
!app/flow/flow_factory.py
!app/flow/planning.py
!app/harness/__init__.py
!app/harness/context.py
!app/harness/control.py
!app/harness/provider.py
!app/harness/redaction.py
!app/harness/runtime.py
!app/harness/session.py
!app/harness/verification.py
!app/llm.py
!app/logger.py
!app/mcp/__init__.py
!app/mcp/server.py
!app/oak/__init__.py
!app/oak/benchmark.py
!app/oak/bundles/openmanus-v1/functions.json
!app/oak/bundles/openmanus-v1/graph.json
!app/oak/bundles/openmanus-v1/kernel.lock.json
!app/oak/bundles/openmanus-v1/schema.json
!app/oak/construction.py
!app/oak/eval.py
!app/oak/formal_runtime.py
!app/oak/kernel.py
!app/oak/runtime.py
!app/oak/security.py
!app/oak/tool.py
!app/prompt/__init__.py
!app/prompt/browser.py
!app/prompt/manus.py
!app/prompt/mcp.py
!app/prompt/planning.py
!app/prompt/swe.py
!app/prompt/toolcall.py
!app/prompt/visualization.py
!app/sandbox/__init__.py
!app/sandbox/client.py
!app/sandbox/core/exceptions.py
!app/sandbox/core/manager.py
!app/sandbox/core/sandbox.py
!app/sandbox/core/terminal.py
!app/schema.py
!app/tool/__init__.py
!app/tool/ask_human.py
!app/tool/base.py
!app/tool/bash.py
!app/tool/chart_visualization/__init__.py
!app/tool/chart_visualization/chart_prepare.py
!app/tool/chart_visualization/data_visualization.py
!app/tool/chart_visualization/package-lock.json
!app/tool/chart_visualization/package.json
!app/tool/chart_visualization/python_execute.py
!app/tool/chart_visualization/src/chartVisualize.ts
!app/tool/chart_visualization/test/chart_demo.py
!app/tool/chart_visualization/test/report_demo.py
!app/tool/chart_visualization/tsconfig.json
!app/tool/computer_use_tool.py
!app/tool/crawl4ai.py
!app/tool/create_chat_completion.py
!app/tool/file_operators.py
!app/tool/mcp.py
!app/tool/planning.py
!app/tool/policy.py
!app/tool/python_execute.py
!app/tool/sandbox/sb_browser_tool.py
!app/tool/sandbox/sb_files_tool.py
!app/tool/sandbox/sb_shell_tool.py
!app/tool/sandbox/sb_vision_tool.py
!app/tool/search/__init__.py
!app/tool/search/baidu_search.py
!app/tool/search/base.py
!app/tool/search/bing_search.py
!app/tool/search/duckduckgo_search.py
!app/tool/search/google_search.py
!app/tool/str_replace_editor.py
!app/tool/terminate.py
!app/tool/tool_collection.py
!app/tool/web_search.py
!app/utils/__init__.py
!app/utils/files_utils.py
!app/utils/logger.py
!cockpit/cmd/verify/main.go
!cockpit/cmd/wasm/main.go
!cockpit/go.mod
!cockpit/verifier/runtime.go
!cockpit/verifier/verify.go
!cockpit/verifier/verify_test.go
!cockpit_main.py
!config/config.example.toml
!config/mcp.example.json
!main.py
!protocol/a2a/__init__.py
!protocol/a2a/app/__init__.py
!protocol/a2a/app/agent.py
!protocol/a2a/app/agent_executor.py
!protocol/a2a/app/main.py
!pytest.ini
!requirements.txt
!run_flow.py
!run_mcp.py
!run_mcp_server.py
!sandbox_main.py
!scripts/build_harness.py
!scripts/runtime_receipt_smoke.py
!scripts/verify_cockpit_wasm.mjs
!scripts/verify_harness.py
!session_main.py
!setup.py
!tests/cockpit/test_agent_run.py
!tests/cockpit/test_intake.py
!tests/cockpit/test_store.py
!tests/cockpit/test_web.py
!tests/conftest.py
!tests/harness/__init__.py
!tests/harness/test_cli_controls.py
!tests/harness/test_cli_integration.py
!tests/harness/test_cli_options.py
!tests/harness/test_context.py
!tests/harness/test_integration_review.py
!tests/harness/test_loop.py
!tests/harness/test_packaging.py
!tests/harness/test_provider.py
!tests/harness/test_redaction.py
!tests/harness/test_runtime.py
!tests/harness/test_session.py
!tests/harness/test_verification.py
!tests/oak/test_agent_integration.py
!tests/oak/test_aig_harness.py
!tests/oak/test_construction.py
!tests/oak/test_formal_runtime_contract.py
!tests/oak/test_kernel.py
!tests/oak/test_mcp_server_governance.py
!tests/oak/test_planning_integration.py
!tests/oak/test_runtime.py
!tests/oak/test_sandbox_governance.py
!tests/sandbox/test_client.py
!tests/sandbox/test_docker_terminal.py
!tests/sandbox/test_sandbox.py
!tests/sandbox/test_sandbox_manager.py
!tests/test_config_defaults.py
!tests/test_llm_offline_tokenizer.py
!tests/tools/test_browser_use_mcp.py
!tests/tools/test_mcp_transactional_lifecycle.py
!tests/tools/test_tool_policy.py
